{%extends 'base.html'%}
{% block content %}
{{ block.super}}

<div class="container fluid" style="padding-top: 25px; text-align: center;">
    <h2>HOME CELLS & BIBLE STUDY GROUPS</h2>
    <img src="static/imgs/bible.jpg" width="75%" class="img-thumbnail" alt="bible">

    <div class="topic"><br>
        <h4>Benefits of small groups</h4>
        <p>God never intended Christianity to be a “me, God, and my Bible” lifestyle. The Bible teaches that we also
            need
            each other for many reasons.
        <blockquote class="text-muted">The body is a unit, though it is made up of many parts; and though all its parts
            are many, they form one
            body. So it is with Christ. For we were all baptized by one Spirit into one body — whether Jews or Greeks,
            slave
            or free — and we were all given the one Spirit to drink. Now the body is not made up of one part but of
            many. If
            the foot should say, “Because I am not a hand, I do not belong to the body,” it would not for that reason
            cease
            to be part of the body. And if the ear should say, “Because I am not an eye, I do not belong to the body,”
            it
            would not for that reason cease to be part of the body. If the whole body were an eye, where would the sense
            of
            hearing be? If the whole body were an ear, where would the sense of smell be? (1 Corinthians 12:12-17)
        </blockquote>
        </p><hr>
    </div>

    <div class="corona" style="background-color: yellowgreen;"><br>
        <h4>Cancelled Home Cell Groups</h4>
        <p>Due to the Covid-19 effects and church guidelines, Bible study home cell groups have been put on hold
            indefinitely.</p><br><hr>
    </div>

    <div class="locations"><br>
        <h4>Home Cells Locations</h4>
        <p>Here are the home cell groups location areas. You're welcome to join one near your home:
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Residence</th>
                    <th>Leader</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Ayany Estate</td>
                    <td>Court J/44</td>
                    <td>Mr/Mrs White</td>
                </tr>
                <tr>
                    <td>Karanja Estate</td>
                    <td>Dubai Court - Hse no 55</td>
                    <td>Mr Snow</td>
                </tr>
                <tr>
                    <td>Jamhuri Estate</td>
                    <td>Kahawa Courts - Hse no 20</td>
                    <td>Mr Okumu</td>
                </tr>
                <tr>
                    <td>Fort Jesus Estate</td>
                    <td>Line B, House 1</td>
                    <td>Mr Patrick</td>
                </tr>
            </tbody>
        </table>
        </p><br><hr>
    </div>

</div>

{% endblock %}