{%extends 'base.html'%}
{% block content %}
{{ block.super}}

<div class="container-fluid" style="padding: 75px;">
    <h4>FOCUS GROUPS</h4>
    <p style="text-align: justify;"> A key component of any strategic planning process is to secure feedback from stakeholders. For churches this usually includes Bible
        Study Teachers, Ministry Leaders, Staff and Church Governance Leaders such as Deacons and Elders. But it can
        also include specific demographics such as Young Marrieds, New Members, Prospects, Single Adults and
        Students.Feedback is typically received in two ways, through written surveys distributed and returned
        electronically or in facilitated focus groups or teams.The first set of questions listed below, are designed to
        be distributed, completed and returned electronically. The second set of questions, are designed to be used in
        facilitated focus group settings. Use these to receive comprehensive feedback from your congregation as a
        foundation for your strategic planning process.</p>
</div>

{% endblock %}