{% extends 'base.html' %}

{% block content %}
{{ block.super }}

<div class="container-fluid" style="padding-top: 80px;">
    <h3>WEEKLY PROGRAM</h3>
    <p>Join us on our different weekly activities:</p>
    <table class="table table-striped">
        <thead>
            <tr style="color: #de795b;">
                <th>Day</th>
                <th>Activity</th>
                <th>Time</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sunday</td>
                <td>Morning Service</td>
                <td>10:30-12:00pm</td>
                <td>Come join us for a wonderful worship service where we get to meet God and indulge in his word,
                    fellowshiping together with fellow brethrens!</td>
            </tr>

            <tr>
                <td></td>
                <td>Evening Service</td>
                <td>5:00-6:30pm</td>
                <td>To be a united christian force for faith, witness and service to Jesus Christ.</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Prayers</td>
                <td>7:00-8:00pm</td>
                <td>A time to come together as a family and pray for each other and pray for our different needs as
                    individuals and as a church family.</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Mid-week service</td>
                <td>7:00-8:00pm</td>
                <td>Come join us for a wonderful mid-week service where we get to meet God and indulge in his word,
                    fellowshiping together with fellow brethrens!</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Outdoors Outreach</td>
                <td>5:00-6:30pm</td>
                <td>Worship God through presentations of songs, dance, skits, drama, door-to-door ministry ...!</td>
            </tr>
        </tbody>
    </table>
    <hr><br>

    <div style="text-align: center;">
    <h4>SPECIAL PROGRAMS/ACTIVITIES</h4>
    <ul style="list-style-type: none;">
        <li><i class="fas fa-check-circle"></i> School Outreach programs</li>
        <li><i class="fas fa-check-circle"></i> Crusades & Revival meetings</li>
        <li><i class="fas fa-check-circle"></i> Radio program @ Pamoja FM</li>
        <li><i class="fas fa-check-circle"></i> Annual Bible Conference in August</li>
    </ul>
</div><br><hr>

</div>

{% endblock%}