{% extends 'base.html' %}

{% block content %}
{{ block.super }}

<div class="container-fluid" style="padding: 50px; text-align: center;">
    <h4>Watch our sermons...</h4><br>
    <div class="row">
        {% for post in video %}
        <div class="col-md-4">
            <div class="video-container">
                <iframe AllowFullScreen src="{{ post.link }}" class="img-thumbnail" frameborder="0"></iframe>
                <p>{{ post.title }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock%}